# =============================================
#   VARIÁVEIS DE AMBIENTE — BD STUDIO BOT
#   Renomeie este arquivo para .env
# =============================================

# Token do seu bot Discord
DISCORD_TOKEN=SEU_TOKEN_AQUI

# ID do servidor (Guild)
GUILD_ID=SEU_GUILD_ID_AQUI
